<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Welcome to our blog! This has an array of blog articles that elaborates the latest technologies and processes in the industry.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://www.github.com"><%= fa_stacked_icon "github" %></a></li>
      <li><a href="https://www.instagram.com"><%= fa_stacked_icon "instagram" %></a></li>
      <li><a href="https://www.twitter.com"><%= fa_stacked_icon "twitter" %></a></li>
      <li><a href="https://www.facebook.com"><%= fa_stacked_icon "facebook" %></a></li>
    </ol>
  </div>
</div>