<h1>About Me</h1>
<p>With over 7 years experience in various roles in design, coding, testing and deployment, I have come to understand the full software development life cycle and recognise the importance of following a process.</p>

<p>I have experience of working in various technologies including AS400, Javascript, Angular, Ruby on Rails and Java. I believe that Github is an effective tool for version control and collaboration. I have worked with AWS and Heroku for deploying applications.</p>